<div class="container">
  <div class="card-body">
    <div class="row">
      <h2 class="card-title" style="text-align: center;">Employee Monthly Food Consumption Status Report</h2>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3 col-md-3 col-lg-3 col-xl-3">
            <a *ngIf="(response?.user?.image != null && response?.user?.image != '')">
              <img src="{{response?.user?.image}}" height="90" width="90" />
            </a>
            <a *ngIf="!(response?.user?.image != null && response?.user?.image != '')">
              <img src="assets/th.jpg" height="90" width="90" />
            </a>
          </div>
          <div class="col-9 col-md-9 col-lg-9 col-xl-9">
            <div class="card-title">Employee Name: {{response?.user?.f_name }} {{response?.user?.l_name}}</div>
            <div class="card-title">Employee Phone Number: {{response?.user?.phone}}</div>
            <div class="card-title">Employee Email Address: {{response?.user?.email}}</div>
            <div class="card-title">Monthly Total Fine Amount: {{totalMonthlyFine}}</div>
          </div>
        </div>
      </div>
    </div><br>
    <div class="table-responsive" style="text-align: center;">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>BreakFast</th>
            <th>Lunch</th>
            <th>Dinner</th>
            <th>Fine Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let singleReport of foodReport">
            <td>{{singleReport.date}}</td>
            <td>{{singleReport?.opt_ins?.breakfast}}</td>
            <td>{{singleReport?.opt_ins?.lunch}}</td>
            <td>{{singleReport?.opt_ins?.dinner}}</td>
            <td>{{singleReport.totalFineForDay}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>